/* .wrapper {

} */

/* flex-контейнеры */
.site_layout {

    /* border: 10px solid #ece89d; */
    display:flex;
    flex-direction:column;
    height: 100vh;
    min-height: 100vh;
    /* justify-content: space-between; */
}

.site__main {

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* background-color: hsl(165, 30%, 70%); */
    /* margin: 0px -5px; */
}

/* flex-элементы */
.layout {

    /* background-color: hsl(165, 52%, 40%); */
}

.main {

}

/* /// */

.header__element {

    background-color: hsl(165, 52%, 40%);
}

.nav__element {

    background-color: hsl(165, 52%, 70%);
    margin: 12px 0px;
}

.aside__element__left, .article__element, .aside__element__right {

    /* padding: 0px 5px; */
    flex: 0 1 33.333%;
    /* border: 2px solid #710d0f; */
}

.aside__element__left {

}

.article__element {

}

.aside__element__right {

}

.footer__element {

    margin: 0px;
    flex-shrink: 0;
    background-color: hsl(165, 52%, 70%);
}

/* контент */
.header__content {

}

.nav__content {

}

.nav__content ul {

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    line-height: 60px;
}

.nav__content ul li {
    
    flex: 0 1 20%;
    list-style-type: none;
}

.nav__content ul li > h3 {
    
    margin: 0px;
}

.nav__content ul li > a {

    color: hsl(0, 0%, 0%);
    padding: 21.3px 16px;
    text-decoration: none;
    transition: .3s;
}

.nav__content ul li > a:visited {
    color: hsl(0, 0%, 100%);
}

.nav__content ul li > a:hover {
    background-color: hsl(165, 52%, 40%);
}

.aside__content__left {

}

.article__content {

}

.aside__content__right {

}

.footer__content {

}

.footer__content footer {
    margin: 0px;
    padding: 10px;
    background-color: hsl(165, 52%, 70%);
}

.footer__content address {
    width: max-content;
    margin: 10px auto;
}